In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS ingredients_group

In [3]:
CREATE TABLE ingredients_group (
    name VARCHAR(50),
    synonyms VARCHAR(200),
    id VARCHAR(4),
    category VARCHAR(50)
) AS SELECT
    "Aliased Ingredient Name" AS name,
    "Ingredient Synonyms" AS synonyms,
    "Entity ID" AS id,
    "CATEGORY" AS category
FROM CSVREAD('../data/raw/02_Ingredients.csv');

In [20]:
ALTER TABLE ingredients_group
ADD food_group VARCHAR(200) NULL;

In [21]:
SELECT * FROM ingredients_group

In [6]:

CREATE VIEW Foodb_groups AS 
SELECT food_group, food_subgroup 
FROM CSVREAD('../data/interim/Foods_Foodb.csv');

org.h2.jdbc.JdbcSQLException:  View "FOODB_GROUPS" already exists; SQL statement

In [23]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Bakery'

In [24]:
SELECT * FROM ingredients_group

In [25]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Meat'

In [26]:
SELECT * FROM ingredients_group

In [28]:
UPDATE ingredients_group
SET food_group='Beverages'
WHERE category='Beverage Alcoholic'

In [29]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Vegetable'

In [30]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Spice'

In [31]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Cereal'

In [32]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Plant'

In [33]:
UPDATE ingredients_group
SET food_group='Fruits'
WHERE category='Fruit'

In [34]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Herb'

In [35]:
UPDATE ingredients_group
SET food_group='Dishes'
WHERE category='Dish'

In [37]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Fish'

In [38]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Seafood'

In [39]:
UPDATE ingredients_group
SET food_group='Nuts'
WHERE category='Nuts & Seed'

In [40]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Legume' OR category='Flower'

In [41]:
SELECT * FROM ingredients_group

In [42]:
UPDATE ingredients_group
SET food_group='Teas'
WHERE category='Beverage'

In [43]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Maize'

In [44]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Dairy'

In [45]:
UPDATE ingredients_group
SET food_group='Fats and oils'
WHERE category='Essential Oil'

In [47]:
UPDATE ingredients_group
SET food_group='Mushrooms'
WHERE category='Fungus'

In [48]:
UPDATE ingredients_group
SET food_group='Baking goods'
WHERE category='Additive'

In [51]:
SELECT * FROM ingredients_group 
WHERE food_group = null