In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Foodb_food_info

In [3]:
CREATE TABLE Foodb_food_info (
  id VARCHAR(5),
    common_name VARCHAR(50),
    scientific_name VARCHAR(50),
    food_group VARCHAR(35),
    food_subgroup VARCHAR(35),
--     food types é uma opção, pois aí conseguiríamos unir os tipos
) AS SELECT
  id, name, name_scientific, food_group, food_subgroup
FROM CSVREAD('../databases/raw/Food.csv');

org.h2.jdbc.JdbcSQLException:  IO Exception

In [4]:
SELECT * FROM Foodb_food_info

org.h2.jdbc.JdbcSQLException:  Table "FOODB_FOOD_INFO" not found; SQL statement