In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS ingredients_group

In [3]:
CREATE TABLE ingredients_group (
    name VARCHAR(50),
    synonyms VARCHAR(200),
    id VARCHAR(4),
    category VARCHAR(50)
) AS SELECT
    "Aliased Ingredient Name" AS name,
    "Ingredient Synonyms" AS synonyms,
    "Entity ID" AS id,
    "CATEGORY" AS category
FROM CSVREAD('../data/raw/02_Ingredients.csv');

In [4]:
ALTER TABLE ingredients_group
ADD food_group VARCHAR(200) NULL;

Aqui, estamos relacionando os ingredientes da tabela 02_Ingredients.csv, do CulinaryDb, com a tabela Food.csv, do food prices, criando uma coluna "Food_Group", a qual relacionará uma categoria do ingredients do CulinaryDb, com o Food Group da FoodB

In [5]:
SELECT * FROM ingredients_group

In [6]:
DROP TABLE IF EXISTS Foodb_groups

In [7]:
CREATE VIEW Foodb_groups AS 
SELECT food_group, food_subgroup 
FROM CSVREAD('../data/interim/Foods_Foodb.csv');

In [41]:
SELECT DISTINCT FOOD_SUBGROUP FROM Foodb_groups ORDER BY FOOD_SUBGROUP

In [8]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Bakery'

In [9]:
SELECT * FROM ingredients_group

In [10]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Meat'

In [11]:
SELECT * FROM ingredients_group

In [12]:
UPDATE ingredients_group
SET food_group='Beverages'
WHERE category='Beverage Alcoholic'

In [13]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Vegetable'

In [14]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Spice'

In [15]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Cereal'

In [16]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Plant'

In [17]:
UPDATE ingredients_group
SET food_group='Fruits'
WHERE category='Fruit'

In [18]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Herb'

In [19]:
UPDATE ingredients_group
SET food_group='Dishes'
WHERE category='Dish'

In [20]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Fish'

In [21]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Seafood'

In [22]:
UPDATE ingredients_group
SET food_group='Nuts'
WHERE category='Nuts & Seed'

In [23]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Legume' OR category='Flower'

In [25]:
UPDATE ingredients_group
SET food_group='Teas'
WHERE category='Beverage'

In [26]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Maize'

In [27]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Dairy'

In [28]:
UPDATE ingredients_group
SET food_group='Fats and oils'
WHERE category='Essential Oil'

In [29]:
UPDATE ingredients_group
SET food_group='Mushrooms'
WHERE category='Fungus'

In [30]:
UPDATE ingredients_group
SET food_group='Baking goods'
WHERE category='Additive'

In [31]:
SELECT * FROM ingredients_group

Aqui, utilizamos o comando para criar a tabela de relação e colocá-la na pasta desejada

In [43]:
ALTER TABLE ingredients_group RENAME TO Ingredients_to_Foodb_Groups;

In [48]:
CALL CSVWRITE('../data/interim/Ingredients_to_Foodb_Groups.csv', 'SELECT * FROM Ingredients_to_Foodb_Groups');

930