In [37]:
%defaultDatasource jdbc:h2:mem:db

In [38]:
DROP TABLE IF EXISTS ingredients_group

In [39]:
CREATE TABLE ingredients_group (
    name VARCHAR(50),
    synonyms VARCHAR(200),
    id VARCHAR(4),
    category VARCHAR(50)
) AS SELECT
    "Aliased Ingredient Name" AS name,
    "Ingredient Synonyms" AS synonyms,
    "Entity ID" AS id,
    "CATEGORY" AS category
FROM CSVREAD('../data/raw/02_Ingredients.csv');

In [40]:
ALTER TABLE ingredients_group
ADD food_group VARCHAR(200) NULL;

Aqui, estamos relacionando os ingredientes da tabela 02_Ingredients.csv, do CulinaryDb, com a tabela Food.csv, do food prices, criando uma coluna "Food_Group", a qual relacionar√° uma categoria do ingredients do CulinaryDb, com o Food Group da FoodB

In [41]:
SELECT * FROM ingredients_group

In [42]:
DROP TABLE IF EXISTS Foodb_groups

In [73]:
DROP TABLE IF EXISTS Foodb

In [74]:
CREATE VIEW Foodb AS SELECT *
FROM CSVREAD('../data/interim/Foods_Foodb.csv');

In [44]:
CREATE VIEW Foodb_groups AS 
SELECT food_group, food_subgroup 
FROM CSVREAD('../data/interim/Foods_Foodb.csv');

In [45]:
SELECT DISTINCT FOOD_GROUP FROM FOODB ORDER BY FOOD_GROUP

In [46]:
SELECT COUNT(*), F.FOOD_GROUP
FROM FOODB F 
GROUP BY F.FOOD_GROUP
ORDER BY F.FOOD_GROUP

In [47]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Bakery'

In [48]:
SELECT * FROM ingredients_group

In [49]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Meat'

In [50]:
SELECT * FROM ingredients_group

In [51]:
UPDATE ingredients_group
SET food_group='Beverages'
WHERE category='Beverage Alcoholic'

In [52]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Vegetable'

In [53]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Spice'

In [54]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Cereal'

In [55]:
UPDATE ingredients_group
SET food_group='Vegetables'
WHERE category='Plant'

In [56]:
UPDATE ingredients_group
SET food_group='Fruits'
WHERE category='Fruit'

In [57]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Herb'

In [58]:
UPDATE ingredients_group
SET food_group='Dishes'
WHERE category='Dish'

In [59]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Fish'

In [60]:
UPDATE ingredients_group
SET food_group='Aquatic foods'
WHERE category='Seafood'

In [61]:
UPDATE ingredients_group
SET food_group='Nuts'
WHERE category='Nuts & Seed'

In [62]:
UPDATE ingredients_group
SET food_group='Herbs and Spices'
WHERE category='Legume' OR category='Flower'

In [63]:
UPDATE ingredients_group
SET food_group='Teas'
WHERE category='Beverage'

In [64]:
UPDATE ingredients_group
SET food_group='Cereals and cereal products'
WHERE category='Maize'

In [65]:
UPDATE ingredients_group
SET food_group='Animal foods'
WHERE category='Dairy'

In [66]:
UPDATE ingredients_group
SET food_group='Fats and oils'
WHERE category='Essential Oil'

In [67]:
UPDATE ingredients_group
SET food_group='Mushrooms'
WHERE category='Fungus'

In [68]:
UPDATE ingredients_group
SET food_group='Baking goods'
WHERE category='Additive'

In [69]:
SELECT * FROM ingredients_group

In [75]:
DROP VIEW IF EXISTS Ing_to_Foodb

In [76]:
CREATE VIEW Ing_to_Foodb
AS SELECT * 
FROM CSVREAD('../data/interim/Ingredients_to_Foodb_Groups.csv');

In [34]:
Select distinct food_group from Ing_to_foodb

Aqui, utilizamos o comando para criar a tabela de rela√ß√£o e coloc√°-la na pasta desejada

In [77]:
DROP TABLE IF EXISTS Ingredients_to_Foodb_Groups

In [78]:
ALTER TABLE ingredients_group RENAME TO Ingredients_to_Foodb_Groups;

In [48]:
CALL CSVWRITE('../data/interim/Ingredients_to_Foodb_Groups.csv', 'SELECT * FROM Ingredients_to_Foodb_Groups');

930