In [2]:
%defaultDatasource jdbc:h2:mem:db

### Relacionando Foodb com FoodPrices Db

Aqui, criaremos uma tabela para relacionar essas duas bases .....

teste

In [3]:
drop table if exists food_prices

In [5]:
CREATE TABLE Food_Prices(
    series VARCHAR(40)
) AS SELECT 
    "Series Name" AS series
FROM CSVREAD('../data/raw/Food_Prices_Data.csv')

In [6]:
Select DISTINCT SERIES FROM FOOD_PRICES