In [8]:
%defaultDatasource jdbc:h2:mem:db

### Relacionando Foodb com FoodPrices Db

Aqui, criaremos uma tabela para relacionar essas duas bases .....

teste

In [16]:
drop table if exists food_prices

In [23]:
CREATE TABLE Food_Prices(
    series VARCHAR(40),
    country VARCHAR(46),
    price VARCHAR(30)
) AS SELECT 
    "Series Name" AS series,
    "Country Name" AS country,
    "2017 [YR2017]" AS price
FROM CSVREAD('../data/raw/Food_Prices_Data.csv')

In [26]:
CREATE VIEW Foodb AS SELECT *
FROM CSVREAD('../data/interim/Foods_Foodb.csv');

In [33]:
drop table if exists foodb

In [34]:
CREATE TABLE Foodb (
  id VARCHAR(5),
    common_name VARCHAR(50),
    scientific_name VARCHAR(50),
    food_group VARCHAR(35),
    food_subgroup VARCHAR(35),
--     food types é uma opção, pois aí conseguiríamos unir os tipos
) AS SELECT
  id, name, name_scientific, food_group, food_subgroup
FROM CSVREAD('../data/raw/Food.csv');

In [35]:
SELECT * FROM FOODB

In [36]:
ALTER TABLE Foodb
ADD Series_name VARCHAR(200) NULL;

In [25]:
SELECT * FROM FOOD_PRICES

In [77]:
-- Atualiza para o primeiro Serial Name
UPDATE foodb
SET Series_name = 'Cost of legumes, nuts and seeds'
WHERE Food_group IN ('Nuts', 'Cocoa and cocoa products', 'Coffee and coffee products', 'Pulses');

In [73]:

-- Atualiza para o segundo Serial Name
UPDATE foodb
SET Series_name = 'Cost of fruits'
WHERE Food_group IN ('Fruits', 'Gourds');

In [45]:
-- Atualiza para o terceiro Serial Name
UPDATE foodb
SET Series_name = 'Cost of starchy staples'
WHERE Food_group IN ('Cereals and cereal products', 'Baking goods');

In [46]:
-- Atualiza para o quarto Serial Name
UPDATE foodb
SET Series_name = 'Cost of vegetables'
WHERE Food_group IN ('Vegetables', 'Mushrooms', 'Herbs and Spices', 'Teas');

In [79]:
-- Atualiza para o quinto Serial Name
UPDATE foodb
SET Series_name = 'Cost of animal-source foods'
WHERE Food_group IN ('Animal foods', 'Aquatic foods', 'Milk and milk products', 'Eggs');

In [ ]:
-- Atualiza para o sexto Serial Name
UPDATE foodb
SET Series_name = 'Cost of oils and fats'
WHERE Food_group IN ('Fats and oils');

Aqui, criamos uma visualização para olhar todas as categorias, e categorizamo-as

In [64]:
CREATE VIEW not_labeled as ((select * from foodb)

EXCEPT

(select * from foodb where series_name <> ''))

In [96]:
drop view if exists diff_null

In [97]:
Create view diff_null as (select distinct food_group, series_name from foodb where series_name <> '')

In [80]:
select * from not_labeled order by food_group

In [98]:
CALL CSVWRITE('../data/interim/Foodb_to_Food_Prices.csv', 'SELECT * FROM DIFF_NULL');

16