In [3]:
%defaultDatasource jdbc:h2:mem:db

In [30]:
DROP TABLE IF EXISTS Foodb_food_info

In [34]:
CREATE TABLE Foodb_food_info (
  id VARCHAR(5),
    common_name VARCHAR(50),
    scientific_name VARCHAR(50),
    food_group VARCHAR(35),
    food_subgroup VARCHAR(35),
--     food types é uma opção, pois aí conseguiríamos unir os tipos
) AS SELECT
  id, name, name_scientific, food_group, food_subgroup
FROM CSVREAD('../databases/Food.csv');

In [35]:
SELECT * FROM Foodb_food_info