In [ ]:
%defaultDatasource jdbc:h2:mem:db

## Ideia Geral

- peguei os dados do foodprices, transformei na tabela food_info. porém, todos os preços dela estão nas moedas locais, então
- procuramos uma tabela para fazer o cambio, e a melhor que achei foi a que está baixada em data. mas, essa tabela só está a de 2023

In [ ]:
DROP TABLE IF EXISTIS Food_info
CREATE TABLE Food_info (
  country VARCHAR(35),
    food_name VARCHAR(60),
    country_abrv VARCHAR(3),
    price FLOAT(3), /*o preco está na moeda própria do país, então precisamos relacionar todas com o dólar (usar o segundo que o dezin mandou)*/
    year INTEGER(4)
) AS SELECT
  adm0_name, cm_name, cur_name, mp_price, mp_year
FROM CSVREAD('./data/foodprices.csv');

In [ ]:
CREATE TABLE CURRENCY23020 (
    value_to_usd FLOAT(8),
) AS SELECT 
    United States of America (1.00 USD) /* nao é coluna ainda, precisa formatar os dados*/
FROM CSVREAD('./data/currencies.csv')

In [ ]:
SELECT * FROM FOOD_INFO0907 LIMIT 50

In [ ]:
SELECT * FROM Currencies WHERE YEAR > '2017' LIMIT 100

In [ ]:
/*Tabela que relaciona cada alimento com eu preço médio, em cada país. Ainda podemos selecionar as datas desejadas 
(mais recentes, no caso) se desejado. ERRATA: os preços tão muito divergentes, provavelmente tem que levar outra 
variável em consideração*/
SELECT F.food_name, F.country, F.YEAR ,AVG(F.price) AS PRICE_AVG
FROM Food_info0907 F
GROUP BY F.FOOD_NAME, F.country, F.YEAR
HAVING F.year > 2017
ORDER BY F.FOOD_NAME, F.COUNTRY, F.YEAR
LIMIT 50