In [1]:
%defaultDatasource jdbc:h2:mem:db

In [20]:
DROP TABLE IF EXISTS ingredientes_teste

In [24]:
CREATE TABLE ingredients_teste (
    name VARCHAR(50),
    synonyms VARCHAR(50),
    id VARCHAR(4),
    category VARCHAR(50)
) AS SELECT
    "Aliased Ingredient Name" AS name,
    "Ingredient Synonyms" AS synonyms,
    "Entity ID" AS id,
    "Category" AS category
FROM CSVREAD('../databases/02_Ingredients.csv');

org.h2.jdbc.JdbcSQLException:  Column "Category" not found; SQL statement

In [ ]:
CREATE TABLE Foodb_food_info (
  id VARCHAR(5),
    common_name VARCHAR(50),
    scientific_name VARCHAR(50),
    food_group VARCHAR(35),
    food_subgroup VARCHAR(35),
--     food types é uma opção, pois aí conseguiríamos unir os tipos
) AS SELECT
  id, name, name_scientific, food_group, food_subgroup
FROM CSVREAD('../databases/Food.csv');